{% extends 'base.html' %}

{% block title %}Все команды{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Все команды</h2>
    </div>
    <div class="card-body">
        {% if user.role == 'admin' %}
        <a href="{% url 'teams:add_team' %}" class="btn btn-primary mb-3">Добавить команду</a>
        {% endif %}

        <ul class="list-group">
            {% for team in teams %}
            <li class="list-group-item">
                <a href="{% url 'teams:team_detail' team.pk %}">{{ team.name }}</a>
                <span class="text-muted">(Админ: {{ team.admin }})</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}